@{
    ViewBag.Title = "ABOUT US";
}
<h3>@ViewBag.Title</h3>


<br />

<div class="row">
  <div class="col-md-7">
    <h4>@ViewBag.Message</h4>

    <p>
      Novel Busters is a site for readers and book recommendations.
      Our mission is to help people find and share books they love.
      We have compiled an enormous list of book reviewers, bloggers, and journalists who are open to accepting ARCs in exchange for honest reviews.  Instead of spending your valuable time painfully crafting book review request upon request, sending out just a few daily – we blast your beautifully crafted review request to our list of reviewers – thousands of them!
      Because the majority of book reviewers are only able to accept a few ARC offers each month, it becomes a numbers game.  You need to send out a large number of review requests to see results and this can be extremely time consuming.  When we blast your book review request out to the thousands of potential reviewers on our list, this frees up your time to do what you do best. Write more books!
    <p>
      As book reviewers, we know what reviewers need to see when it comes to the query.  And we prefer to deal with a third party such as a publicist or the publisher’s PR department.   This takes the emotion of the equation, and makes the reviewer feel better about leaving a completely honest review.  Book reviewers don’t like to accept book review requests directly from the author because they fear backlash if the review contains negative elements, among other reasons.
      When we take over for you, book reviewers will be more apt to take advantage of the ARC offer when they see that a publicist is the working middle man.  We receive the requests on your behalf and maintain communication from ARC request to review completion, sending relevant emails to both parties as required. Novel Busters launched in December 2014.
    </p>
  </div>
    <div class="col-md-3">
      <img src="http://cs616819.vk.me/v616819987/1b08c/zxymgef3iMI.jpg" alt="About Image" style="width: 100%; height:100%;" />
      <hr/>
      <h4>A Few Things You Can Do On Novel Busters</h4>
      <hr />
      <ul>
        <li>Track the books you're reading, have read, and want to read.</li>
        <li>Post reviews on books you have read.</li>
        <li>Search for a book that is a great fit for you from our community’s reviews.</li>
      </ul>
    </div>

</div>