@{
    ViewBag.Title = "Contact";
}

<h2 align="center">Meet The Staff</h2>

<br />
<br />



<div class="row">
    <div class="col-md-3">
        <img src="~/Content/images/Koala.jpg" alt="Laura" class="img-circle" />
        <h4>Laura Ssavanh</h4>
        <h6>Designer</h6>
        <a href="http://twitter.com/ITSLAURALAURA"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <br />
        <a href="mailto:lssavanh@stumail.fhtc.edu">lssavanh@stumail.fhtc.edu</a>
    </div>


    <div class="col-md-3">
        <img src="~/Content/images/sloth2.jpg" alt="Enrique" class="img-circle" />
        <h4>Enrique Loera</h4>
        <h6>Developer</h6>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <br />
        <a href="mailto:eloera@stumail.fhtc.edu">eloera@stumail.fhtc.edu</a>
    </div>


    <div class="col-md-3">
        <img src="~/Content/images/sealion.jpg" alt="Sonya" class="img-circle" />
        <h4>Sonya Nguyen</h4>
        <h6>Developer</h6>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <br />
        <a href="mailto:snguyen@stumail.fhtc.edu">snguyen@stumail.fhtc.edu</a>
    </div>


    <div class="col-md-3">
        <img src="~/Content/images/cat.jpg" alt="Tiffany" class="img-circle" />
        <h4>Tiffany Francis</h4>
        <h6>Designer</h6>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <br />
        <a href="mailto:tifrancis@stumail.fhtc.edu">tifrancis@stumail.fhtc.edu</a>
    </div>


    <div class="col-md-3">
        <br />
        <h4>Yessenia Sosa</h4>
        <img src="~/Content/images/bird.jpg" alt="Yessenia" class="img-circle" />
        <h6>Information Researcher</h6>
        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a>
        <br />
        <a href="mailto:ysosa@stumail.fhtc.edu">ysosa@stumail.fhtc.edu</a>
        <br />
    </div>


</div>

