@{
    ViewBag.Title = "Home Page";
}


    <h1>Novel Busters</h1>


<h5 align="center">
    I think of life as a good book. The further you get into it, the more it begins to make sense.
    <br />
    <br />
    –Harold Kushner
</h5>

<h5 align="center">
    A book is the only place in which you can examine a fragile thought without breaking it.
    <br />
    <br />
    –Edward P. Morgan
</h5>

<h5 align="center">
    A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading.
    <br />
    <br />
    –William Styron
</h5>





