@{
    ViewBag.Title = "Home Page";
}

<h1> NOVEL </h1>
<h2> BUSTERS</h2>


    <div class="index_slide_wrap">
        <div class="index_slide_wrap nb_Scrollable" style="overflow-x: auto; overflow-y: hidden;">
            <div class="nb_Container" style="width: 960px; height: 411px;">
                <div class="nb_Pane" style="width: 960px; left: 0;">
                    <div class="index_slide_content">
                        <div class="nb_item">
                            <a href="http://images.betterworldbooks.com/030/World-War-Z-9780307346612.jpg">
                                <img src="http://images.betterworldbooks.com/030/World-War-Z-9780307346612.jpg" width="264" style="float: left">
                            </a>
                        </div>
                        <div class="nb_item">
                            <a href="http://flavorwire.files.wordpress.com/2013/10/it1.jpg">
                                <img src="http://flavorwire.files.wordpress.com/2013/10/it1.jpg" width="264" style="float: left">
                            </a>
                        </div>
                        <div class="nb_item">
                            <a href="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi">
                                <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" width="264" style="float: left">
                            </a>
                        </div>
                        <div class="nb_item">
                            <a href="http://images.betterworldbooks.com/030/World-War-Z-9780307346612.jpg">
                                <img src="http://images.betterworldbooks.com/030/World-War-Z-9780307346612.jpg" width="264" style="float: left">
                            </a>
                        </div>
                        <div class="nb_item">
                            <a href="http://images.betterworldbooks.com/030/World-War-Z-9780307346612.jpg">
                                <img src="http://images.betterworldbooks.com/030/World-War-Z-9780307346612.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="footer-column" class="clearfix"
    @*<p class="text-center"><img src="@Url.Content("~/content/images/logo.jpg")" alt="Novel Busters Logo" /></p>*@

