@{
    ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-md-4">
    <h4>Company Media</h4>
    <p class="text-center"><img src="@Url.Content("~/content/images/logo.jpg")" alt="Novel Busters Logo" /></p>
    <table class="table">
      <tr>
        <td><i class="fa fa-fw fa-square" style="color:#BF5A15"></i></td>
        <td>Primary Color</td>
        <td>#BF5A15</td>
      </tr>
      <tr>
        <td><i class="fa fa-fw fa-square" style="color:#777777"></i></td>
        <td>Secondary Color</td>
        <td>#777777</td>
      </tr>
      <tr>
        <td><i class="fa fa-fw fa-square" style="color:#efefef"></i></td>
        <td>Tertiary Color</td>
        <td>#EFEFEF</td>
      </tr>
    </table>
  </div>
</div>