@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <br />
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:375px; width:250px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                <li data-target="#myCarousel" data-slide-to="4" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <a href="http://d.gr-assets.com/books/1392626603l/16299991.jpg">
                        <img src="http://d.gr-assets.com/books/1392626603l/16299991.jpg" style="float:left; height:375px; width:250px;">
                    </a>
                </div>
                <div class="item active">
                    <a href="http://ecx.images-amazon.com/images/I/51ylGqNESML._SY344_BO1,204,203,200_.jpg">
                        <img src="http://ecx.images-amazon.com/images/I/51ylGqNESML._SY344_BO1,204,203,200_.jpg" style="float: left; height:375px; width:250px;">
                    </a>
                </div>

                <div class="item">
                    <a href="http://maggieshayne.com/wp-content/uploads/2012/11/Brands-for-Christmas.jpeg">
                        <img src="http://maggieshayne.com/wp-content/uploads/2012/11/Brands-for-Christmas.jpeg" style="float: left; height:375px; width:250px;">
                    </a>
                </div>

                <div class="item">
                    <a href="http://upload.wikimedia.org/wikipedia/en/1/1f/Lovely_Bones_cover.jpg">
                        <img src="http://upload.wikimedia.org/wikipedia/en/1/1f/Lovely_Bones_cover.jpg" style="float: left;  height:375px; width:250px;">
                    </a>
                </div>

                <div class="item">
                    <a href="http://img2.imagesbn.com/p/9781401312855_p0_v1_s260x420.JPG">
                        <img src="http://img2.imagesbn.com/p/9781401312855_p0_v1_s260x420.JPG" style="float: left;  height:375px; width:250px;">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <h1> NOVEL BUSTERS</h1>
        <h5>
            <i>
                "A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading."
                <br />
                <br />
                <p style="float:right;"> – William Styron</p>
            </i>
        </h5>
    </div>
</div>











